body {
    margin: 0 auto;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

h2 {
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}

input,
textarea {
    font-size: 32px;
    line-height: 39px;
}

.blog {
    position: relative;
    margin: 100px auto;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.post {
    display: flex;
    flex-direction: column;
}
.post__text_title {
    margin-bottom: 30px;
    padding: 11px 20px 10px 20px;
    max-width: 653px;
}
.resultTitlePost {
    position: absolute;
    left: 430px;
    top: 90px;
    color: #0094FF;
}
.post__text {
    margin-bottom: 30px;
    padding: 10px;
}
.resultTextPost {
    position: absolute;
    left: 430px;
    top: 185px;
    color: #0094FF;
}

.addPostBtn {
    margin-bottom: 30px;
    padding: 9px 144px 12px 126px;
    border: none;
    font-size: 32px;
    line-height: 39px;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #0094FF;
}
.addPostBtn:hover {
    opacity: 0.7;
}

.ribbon__posts {
    font-size: 32px;
    line-height: 39px;
    color: #979797;
}

.jsPost__date {
    display: block;
    margin-bottom: 15px;
    font-size: 25px;
    line-height: 30px;
    color: #0094FF;
}
.jsPost__title {
    display: block;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}
.jsPost__text {
    display: block;
    margin-bottom: 50px;
    width: 500px;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
}

.validationMessagePostTitle_active,
.validationMessagePostText_active {
    display: block;
    font-size: 25px;
    line-height: 30px;
    color: #FF0000;
}

.validationMessagePostTitle,
.validationMessagePostText {
    display: none;
}

@media (max-width: 767px) {
    .blog {
        margin: 50px auto;
        width: 100%;
        padding: 20px;
        flex-direction: column;
        gap: 50px;
    }
    h2 {
        text-align: center;
    }
    input,
    textarea {
    font-size: 24px;
    line-height: 30px;
}
    .post__text_title {
        margin-bottom: 30px;
        padding: 5px 10px 5px 10px;
        width: 100%;
    }
    .resultTitlePost {
        position: absolute;
        left: 640px;
        top: 111px;
        color: #0094FF;
    }
    .post__text {
        margin-bottom: 30px;
        padding: 5px;
    }
    .resultTextPost {
        position: absolute;
        left: 680px;
        top: 185px;
        color: #0094FF;
    }
    .addPostBtn {
        margin-bottom: 10px;
    }
}