body {
    margin: 0 auto;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

h2 {
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}

textarea {
    font-size: 32px;
    line-height: 39px;
    overflow: hidden;
}

.blog {
    margin: 100px auto;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.post {
    display: flex;
    flex-direction: column;
}
.post__text_title {
    display: block;
    margin-bottom: 15px;
    min-height: 60px;
    padding: 5px;
    resize: none;
    outline: none;
}
.resultTitlePost {
    margin-top: -9px;
    width: 100%;
    text-align: right;
    color: #0094FF;
}
.post__text {
    display: block;
    margin:30px 0 30px;
    height: 100%;
    padding: 10px;
    resize: none;
    outline: none;
}
.resultTextPost {
    margin-top: -25px;
    width: 100%;
    text-align: right;
    color: #0094FF;
}

.addPostBtn {
    margin: 40px 0 10px;
    padding: 9px 144px 12px 126px;
    border: none;
    font-size: 32px;
    line-height: 39px;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #0094FF;
}
.addPostBtn:hover {
    opacity: 0.7;
}

.ribbon {
    max-width: 500px;
}

.ribbon__posts {
    width: 100%;
    font-size: 32px;
    line-height: 39px;
    color: #979797;
}

.jsPost__date {
    display: block;
    margin-bottom: 15px;
    font-size: 25px;
    line-height: 30px;
    color: #0094FF;
}
.jsPost__title {
    display: block;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    word-wrap: break-word;
}
.jsPost__text {
    display: block;
    margin-bottom: 50px;
    width: 100%;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
    word-wrap: break-word;
}

.validationMessagePostTitle_active,
.validationMessagePostText_active {
    display: block;
    font-size: 25px;
    line-height: 30px;
    color: #FF0000;
}

.validationMessagePostTitle,
.validationMessagePostText {
    display: none;
}

@media (max-width: 767px) {
    .blog {
        margin: 50px auto;
        width: 100%;
        padding: 20px;
        flex-direction: column;
        gap: 50px;
    }
    h2 {
        text-align: center;
    }
    textarea {
        font-size: 24px;
        line-height: 30px;
}
    .post__text_title {
        margin-bottom: 30px;
        width: 100%;
    }
    .resultTitlePost {
        margin-top: -25px;
    }
    .post__text {
        margin-bottom: 30px;
        width: 100%;
        padding: 5px;
    }
    .addPostBtn {
        margin-bottom: 10px;
        padding: 5px;
        font-size: 20px;
        line-height: 39px;
    }
    .ribbon__posts {
        font-size: 20px;
        line-height: 39px;
    }
}